@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: 'DM Sans', sans-serif;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 2rem 1rem 2rem;
}

#start h2, #start p {
    align-self: center;
}

#start > p {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    color: #848c92;
}

h3 {
    font-size: 1.3rem;
    letter-spacing: 5px;
    margin: 1rem 0 3rem 2rem;
}

.category {
    margin: 2rem 0 -1rem 2rem;
    order: -1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #667eea;
}

.main-box {
    background-color: white;
    width: 600px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
    transition: opacity .5s ease-in-out;
    padding-top: 1rem;
}

.fade {
    opacity: 0;
}

.hidden {
    display: none;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    gap: 0.1rem;
    margin: 2rem;
}

.category-card {
    min-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #667eea;
    border: 2px solid white;
    border-radius: 5px;
}

.fas {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#general {
    background-color: #8d5de7;
    transition: all 0.2s ease;
}

.fa-brain {
    color: #4c327e;
}

#general:hover {
    background-color: #a380e2;
    transform: scale(1.02);
    cursor: pointer;
}

#science {
    background-color: #f1a34a;
    transition: all 0.2s ease;
}

#science:hover {
    background-color: #ecb474;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-dna {
    color: #af722d;
}

#sports {
 background-color: #62bfe7;
 transition: all 0.2s ease;
}

#sports:hover {
    background-color: #80c7e6;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-running {
    color: #3e7891;
}

#celeb {
    background-color: #d574e9;
    transition: all 0.2s ease;
}

#celeb:hover {
    background-color: #d98fe7;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-camera {
    color: #81448d;
}

#history {
    background-color: #EB7F92;
    transition: all 0.2s ease;
}

#history:hover {
    background-color: #e797a6;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-book {
    color: #854752;
}

#geo {
    background-color: #64c468;
    transition: all 0.2s ease;
}

#geo:hover {
    background-color: #78c27a;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-map-marker-alt {
 color: #408042;
}

.category-text {
    color: white;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.answer-alts {
    list-style: none;
    font-size: 1.1rem;
    align-self: flex-start;
    margin: 0 0 2rem 2rem;
}

.answer-alts li {
    margin: 1rem 0;
}

.answer-alts label {
    cursor: pointer;
    transition: all 0.3s;
}

.answer-alts label:hover {
    color: gray;
}

.correct {
    color: #667eea;
}

.primary-btn {
    display: block;
    width: 100%;
    height: 4rem;
    border: none;
    font-family: inherit;
    color: white;
    background-color: #667eea;
    transition: all 0.3s;
    border-radius: 0 0 10px 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.primary-btn:hover {
    background-color: #8196f3;
    cursor: pointer;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #667eea transparent #667eea transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }