@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: 'DM Sans', sans-serif;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 2rem 1rem 2rem;
}

#start h2, #start p {
    align-self: center;
}

#start > p {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    color: #848c92;
}

h3 {
    font-size: 1.3rem;
    letter-spacing: 5px;
    margin: 1rem 0 3rem 2rem;
}

.quiz-info {
    width: 100%;
    order: -1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
}

.quiz-info > p, .feedback-text {
    /* margin: 2rem 0 -1rem 2rem; */
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #667eea;
}

.status {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 1rem;
    align-self: flex-end;
    text-align: end;
}

.status p {
    color: #848c92;
}

.status span {
    font-weight: bold;
    color: #667eea;
}

.main-box {
    background-color: white;
    width: 600px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
    transition: opacity .5s ease-in-out;
    padding-top: 1rem;
}

.feedback-overlay {
    /* opacity: 1; */
    z-index: -1;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #72bd74de;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.feedback-icon {
    margin-bottom: 1rem;
    color: white;
    font-size: 3rem;
}

.feedback-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    line-height: 1.5;
}

.feedback-text:last-of-type {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
    max-width: 80%;
    background-color: rgba(48, 48, 48, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.feedback-answer {
    color: white;
}

.fade {
    opacity: 0;
}

.hidden {
    display: none;
}

/* ===============  */
/* CATEGORY STYLES  */
/* =============== */
.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    gap: 0.1rem;
    margin: 2rem;
}

.category-card {
    min-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 5px;
}

.category-text {
    color: white;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.fas {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#General {
    background-color: #8d5de7;
    transition: all 0.2s ease;
}

.fa-brain {
    color: #5e3d9c;
}

#General:hover {
    background-color: #a380e2;
    transform: scale(1.02);
    cursor: pointer;
}

#Science {
    background-color: #f1a34a;
    transition: all 0.2s ease;
}

#Science:hover {
    background-color: #ecb474;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-dna {
    color: #af722d;
}

#Sports {
 background-color: #62bfe7;
 transition: all 0.2s ease;
}

#Sports:hover {
    background-color: #80c7e6;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-running {
    color: #3e7891;
}

#Celeb {
    background-color: #d574e9;
    transition: all 0.2s ease;
}

#Celeb:hover {
    background-color: #d98fe7;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-camera {
    color: #81448d;
}

#History {
    background-color: #EB7F92;
    transition: all 0.2s ease;
}

#History:hover {
    background-color: #e797a6;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-book {
    color: #854752;
}

#Geo {
    background-color: #64c468;
    transition: all 0.2s ease;
}

#Geo:hover {
    background-color: #78c27a;
    transform: scale(1.02);
    cursor: pointer;
}

.fa-map-marker-alt {
 color: #408042;
}
/* ========END OF CATEGORY STYLES========== */

.answer-alts {
    list-style: none;
    font-size: 1.1rem;
    align-self: flex-start;
    margin: 0 0 2rem 2rem;
}

.answer-alts li {
    margin: 1rem 0;
}

.answer-alts label {
    cursor: pointer;
    transition: all 0.3s;
}

.answer-alts label:hover {
    color: gray;
}

.correct {
    color: #667eea;
}

.primary-btn {
    display: block;
    width: 100%;
    height: 4rem;
    border: none;
    font-family: inherit;
    color: white;
    background-color: #667eea;
    transition: all 0.3s;
    border-radius: 0 0 10px 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.primary-btn:hover {
    background-color: #8196f3;
    cursor: pointer;
}

/* ========================= */
/* LOADING SPINNER ANIMATION */
/* ========================= */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #667eea transparent #667eea transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media only screen and (max-width: 700px) {
    .category-card {
        min-width: 49%;
    }

    .main-box {
        max-width: 90%;
    }
  }

  @media only screen and (max-width: 510px) {    
    .status {
        min-width: 50%;
    }
  }

  @media only screen and (max-width: 440px) {    
    .category-text {
        font-size: .8rem;
    }
  }

  @media only screen and (max-width: 410px) {    
    body {
        padding: 2rem 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    .category, .status {
        font-size: .9rem;
    }

    .category-text {
        font-size: .7rem;
    }
  }

  @media only screen and (max-width: 370px) {    
    .category-card {
        min-width: 100%;
    }
  }